@tailwind base;
@tailwind components;
@tailwind utilities;

.required-field::after {
  content: "*";
  color: red;
  margin-left: 2px;
}

.content-graphic {
  font-family: "Poppins", sans-serif;
}

/* CSS file, e.g., styles.css */
.header-opacity {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease; /* Add a transition for smoothness */
}
