---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { PortfolioBanner } from "@/components/PortfolioBanner";
import { ContactForm } from "@/components/ContactForm";
---

<Layout positionprop="fixed" title="Freelance Template">
  <main class="w-full max-w-screen min-h-screen bg-black"></main>
</Layout>
