---
import { ContactForm } from "@/components/ContactForm";
import Layout from "../layouts/Layout.astro";

import "@/styles/globals.css";
---

<Layout positionprop="fixed" title="Freelance Template">
  <main class="w-full max-w-screen bg-none">
    <div class=""><ContactForm client:load /></div>
  </main>
</Layout>
