---
import { ContentGraphic } from "@/components/Content-Graphic";
import { Footer } from "@/components/Footer";
import { ServicesOffered } from "../components/ServicesOffered.tsx";
import { TestimonialsReviews } from "../components/Testimonials-Reviews.tsx";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout headerTextColor="white" title="Freelance Template">
  <main class="w-full max-w-screen">
    <ContentGraphic />
    <ServicesOffered />
    <TestimonialsReviews />
    <Footer />
  </main>
</Layout>
