---
import { ContentGraphic } from "@/components/Content-Graphic";
import { Footer } from "@/components/Footer";
import { ServicesOffered } from "../components/ServicesOffered.tsx";
import { AboutUs } from "../components/AboutUs.tsx";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { Testimonials } from "@/components/Testimonials";
---

<Layout position="fixed" title="Freelance Template">
  <main class="w-full max-w-screen">
    <ContentGraphic client:only="'react" />
    <ServicesOffered client:only="react" />
    <AboutUs client:only="react" />
    <Testimonials client:only="react" />
    <Footer client:only="react" />
  </main>
</Layout>
