---
import { ContentGraphic } from "@/components/Content-Graphic";
import { Footer } from "@/components/Footer";
import { ServicesOffered } from "../components/ServicesOffered.tsx";
import { AboutUs } from "../components/AboutUs.tsx";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { Testimonials } from "@/components/Testimonials";
import { ContactForm } from "@/components/ContactForm";
import { FrequentlyAskedQ } from "@/components/FrequentlyAskedQ";
import Instafeed from "@/components/Instafeed";
---

<Layout positionprop="fixed" title="Freelance Template">
  <main class="w-full max-w-screen bg-fixed bg-cover">
    <ContentGraphic client:load />
    <ServicesOffered client:load />
    <AboutUs client:load />
    <div class="sm:hidden block"><Testimonials client:load /></div>

    <div class="sm:hidden block"><ContactForm client:load /></div>
  </main>
</Layout>
