---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout positionprop="sticky" title="Freelance Template">
  <main class="w-full max-w-screen">
    <div></div>
  </main>
</Layout>
