---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import { PortfolioBanner } from "@/components/PortfolioBanner";
---

<Layout positionprop="fixed" title="Freelance Template">
  <main class="w-full max-w-screen">
    <PortfolioBanner />
  </main>
</Layout>
