---
import { Footer } from "@/components/Footer";
import { Header } from "@/components/Header.tsx";
import "@fontsource/inter";

interface Props {
  title: string;
  positionprop: string;
}

const { title, positionprop } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <Header client:load positionprop={positionprop} />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  body {
    font-family: "Inter";
  }
</style>
