---
import { Footer } from "@/components/Footer";
import { FrequentlyAskedQ } from "@/components/FrequentlyAskedQ";
import { Header } from "@/components/Header.tsx";
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
interface Props {
  title: string;
  positionprop: string;
}

const { title, positionprop } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <Header client:load positionprop={positionprop} />
    <slot />
    <FrequentlyAskedQ client:load />

    <Footer />
  </body>
</html>
<style is:global>
  body {
    font-family: "Poppins", sans-serif;
  }
</style>
